name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Build docker image
        run: docker build -t sharmashubham0710/flask-app:v1 .
      
      - name: Login to docker Hub
        run: echo "shubham_032711" | docker login -u sharmashubham0710 --password-stdin
      
      - name: Push docker image
        run: docker push sharmashubham0710/flask-app:v1
